h1 CrystalDocs.info
p Making <code>crystal docs</code> available to everyone.

h1 Recently Updated Shards
hr
- @shards.each do |shard|
  == slim :"shards/_shard", locals: {shard: shard}
  p Last updated: #{shard.updated_at.strftime("%X %x")}